/*Navbar*/

.navbar-nav a {
    font-size: 18px;
}

.product-detail img {
    max-width: 70%;
    height: auto;
}

.product-detail .col-md-6 {
    display: flex;
    align-items: center;
}

.product-detail .card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-detail .card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}